.course-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.course-item {
    width: 15rem;
    max-width: 95%;
}

.course__title {
    font-size: 1.2rem;
    text-align: center;
}

.course__author {
    text-align: center;
    font-size: 0.9rem;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.course__duration {
    font-size: 0.8rem;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.course__level {
    font-size: 0.8rem;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}
